# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/
env/

# Secrets
.env
.env.*

# IDEs
.vscode/
.idea/

# OS & misc
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
